.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}
.container{
    display: flex;
    justify-content: center;
	height: 35px;
    width: 1000px;
	margin: auto;
    margin-top: 10px;
    border-radius: 25px;
}
body {
	text-align: center;
	font-family: sans-serif;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header {
	height: 60vh !important;
	background: url(Imagenes/header.jpg) no-repeat center;
	background-size: cover;
}
.title {
	margin-bottom: 40px;
	font-size: 60px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}
p {
	margin-bottom: 40px;
	font-size: 18px;
	color: #fff;
}
.content {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}